<section class="orders-index">

  <header class="page-header">
    <h1>Orders</h1>
  </header>
  <% @orders.each do |order| %>
    <% if current_user && current_user.email == order.email %>
      <div class="orders">
        <h3>
        Order#: <%= link_to order.id, order %></br>
        Date: <%= order.created_at %>
        </h3>
      </div>
    <% end %>
  <% end %>

  <% if !(@orders_emails.include? current_user.email)  %>
    <div class="jumbotron">
      <h4>You have no orders yet.</h4>
      <h4>You can go back to <%= link_to 'Home', :root %> and check the products. Thank you.</h4>
    </div>
  <% end %>

</section>
